.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: var(--color5);
    font-size: 4rem;
    .back {
        font-size: 3rem;
        color: var(--color4);
        cursor: pointer;
        text-decoration: none;
    }
}